###
FROM node:16.4.2-slim AS builder

ADD --chown=node:node \
        package.json index.js     /app/
ADD --chown=node:node \
        bin/kafka-flow-control    /app/bin/
ADD --chown=node:node lib/        /app/lib/
ADD --chown=node:node handlers/   /app/handlers/
ADD --chown=node:node etc/        /app/etc/

WORKDIR /app

RUN apt update && \
    DEBIAN_FRONTEND=noninteractive \
    apt install --no-upgrade -y make g++ python && \
    npm install

###
FROM node:16.4.2-slim
MAINTAINER D. Elmo Peele

COPY --from=builder /app /app

WORKDIR /app

RUN apt update && \
    DEBIAN_FRONTEND=noninteractive \
    apt install --no-upgrade -y netcat && \
    ln -s ../index.js bin/bridge && \
    chown -R node:node .

USER    node

# Expose the configuration volume (etc/bridge.yaml)
VOLUME [ "/app/etc" ]

CMD [ "./bin/bridge", "-c", "etc/bridge.yaml" ]
